<div class="users-all box">
  <h1>All Users</h1>

  <ul class="users">
    <% @tourists.each do |tourist| %>
      <li>
        <% if tourist.image_url %>
          <%= image_tag tourist.image_url, size: "36x36" %>
        <% else %>
          <%= image_tag 'default-user.jpeg', size:"36x36" %>
        <% end %>
        <%= link_to tourist.name, tourist %>
      </li>
    <% end %>
  </ul>
</div>