<h1>Ashiato</h1>
<p>あなたの旅行を記録し、それを世界に発信するSNS</p>

<%= link_to "Sign in wiht Facebook", user_facebook_omniauth_authorize_path %>
<%= link_to "Sign in with Twitter", user_twitter_omniauth_authorize_path %>

