/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
//@import "materialize/components/color";
//$primary-color: color("blue", "lighten-2") !default;
//@import 'materialize';

@font-face {
  font-family: 'Nagomi-font';
  src: font-url("NagomiGokubosoGothic-ExtraLight.otf") format('truetype');
}

body {
  font-family: "Nagomi-font";
  .navbar{
    position: relative !important;
    color: white;
  }
}
.navbar-default {
  border-color: rgba(255,255,255,0.1);;
  .navbar-nav {
    li {
      a {
        color: #BBBBBB;
        &:hover {
          color: white;
        }
      }
    }
  }
}

.brand-logo {
  font-size: 30px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  &:hover{
    text-decoration: none;
    color: white;
  }
}



